<div>
  <h1>LeagueData</h1>

  <h2>Find Summoner:</h2>
  <form action="/summoner/search">
    <select name="region">
        <option value="na">na</option>
        <option value="euw">euw</option>
        <option value="eune">eune</option>
    </select>
    <input type="text" name="name" />
    <input type="submit" name="Submit" />
  </form>
</div>
