<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>

<div class="container clearfix">
    <div class="main">
        <h1 id="main-title"><%= __('Welcome') %></h1>
        <h2>Getting started</h2>
        <a href="/summoner">Summoner</a>
    </div>
</div>
